/*!
global > z-index
------------------------------
*/
:root {
  --z-index-bg-stripe: 50;
  --z-index-modal: 100;
  --z-index-header: 20000;
  --z-index-menu: 10;
  --z-index-default: 1;
  --z-index-negative: -1;
}
