@use "../global" as g;

/*!
layout > container
------------------------------
*/
.l-container-s {
  margin-inline: auto;
}

.l-container {
  padding-inline: 20rem;

  @include g.mq() {
    padding-inline: 30rem;
  }
}
