@use "../global" as g;

/*!
component > works-modal
------------------------------
*/
.c-works-modal {
  position: fixed;
  inset: 0;
  z-index: var(--z-index-modal);
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--color-black);
  border: none;
  overflow: hidden; // スクロールを無効化

  &::backdrop {
    display: none;
  }
}

.c-works-modal-inner {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  padding-inline: 20rem;

  @include g.mq(sm) {
    padding-inline: 20vw;
  }
}

.c-works-modal-card {
  display: flex;
  flex-direction: column;
  gap: 12rem;

  @include g.mq(md) {
    width: 593rem;
    max-height: 75vh;
    gap: 16rem;
  }
}

.c-works-modal-card-image {
  width: 100%;
  aspect-ratio: 335 / 312;
  overflow: hidden;

  @include g.mq() {
    aspect-ratio: 593 / 676;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    @include g.mq() {
      aspect-ratio: 1024 / 636;
    }
  }
}

.c-works-modal-card--portrait {
  .c-works-modal-card-image {
    @include g.mq() {
      width: 479rem;
      aspect-ratio: 479 / 676;
      margin-inline: auto;
    }

    img {
      @include g.mq() {
      }
    }
  }
}

.c-works-modal-footer {
  display: grid;
}

.c-works-modal-text {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12rem;
  line-height: 1.5;

  @include g.mq() {
    font-size: 16rem;
  }
}

.c-works-modal-title {
  @include g.mq() {
  }
}

.c-works-modal-year {
  display: block;

  @include g.mq() {
  }
}

.c-works-modal-close {
  font-size: 14rem;
  line-height: 1.5;
  display: flex;
  align-items: center;
  gap: 6rem;
  background-color: transparent;
  position: absolute;
  bottom: 45rem;
  left: 50%;
  translate: -50% 0;

  @include g.mq() {
    bottom: 60rem;
  }

  &::before {
    content: "";
    display: block;
    width: 10rem;
    height: 9rem;
    background-image: url("../../img/icon_close.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}
