@use "../../global" as g;

/*!
page > top > top-common
------------------------------
*/

.top-wrapper {
  position: relative;
  height: 100vh;

  @include g.mq() {
    display: grid;
    padding: 30rem;
    grid-template-columns: 563rem 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.top-intro {
  padding: 20rem 20rem 0;
  width: 100%;

  @include g.mq() {
    padding: 0;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}

.top-intro-text {
}

.top-selected {
  padding: 54rem 20rem 0;

  @include g.mq() {
    padding: 0;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    align-self: end;
  }
}

.top-selected-title {
}

.top-selected-list {
  padding-top: 26rem;
  display: grid;
  gap: 4rem;
}

.top-selected-list-item {
  border-bottom: 1rem solid var(--color-font-base);

  button {
    width: 100%;
    padding-bottom: 3rem;
    display: flex;
    justify-content: space-between;

    @media (any-hover: hover) {
      &:hover {
        span {
          opacity: 0.7;
        }
      }
    }
  }
}

.top-images {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(295 / 812 * 100vh);

  @include g.mq() {
    position: static;
    width: 447rem;
    height: 100%;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    justify-self: end;
  }

  * {
    height: 100%;
  }
}

.top-images-list {
}

.top-images-list-item {
  display: none;

  img {
    object-fit: cover;
    filter: grayscale(100%);
  }
}

.top-images-list-item--default {
  display: block;

  img {
    @include g.mq() {
      object-position: left;
    }
  }
}
