@use "../../global" as g;

/*!
page > top > top-common
------------------------------
*/

.top-wrapper {
  position: relative;
  height: 100dvh;

  @include g.mq() {
    display: grid;
    padding: 30rem;
    grid-template-columns: 563rem 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.top-intro {
  padding: 20rem 20rem 0;
  width: 100%;

  @include g.mq() {
    padding: 0;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}

.top-selected {
  padding: 54rem 20rem 0;

  @include g.mq() {
    padding: 0;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    align-self: end;
  }
}

.top-selected-list {
  padding-top: 26rem;
  display: grid;
}

.top-selected-list-item {
  border-bottom: 1rem solid var(--color-font-base);

  button {
    width: 100%;
    padding: 3rem 0 4rem;
    display: flex;
    justify-content: space-between;
    transition: filter 0.3s ease;

    @include g.mq() {
      padding: 8rem 0 7rem;
    }

    @media (any-hover: hover) {
      &:hover {
        span {
          filter: brightness(0.7);
        }
      }
    }

    span {
      transition: filter 0.3s ease;
    }
  }
}

.top-images {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(295 / 812 * 100dvh);
  overflow: hidden;

  @include g.mq() {
    position: static;
    width: 447rem;
    height: 100%;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    justify-self: end;
  }
}

.top-images-list {
  position: relative;
  width: 100%;
  height: 100%;
}

.top-images-list-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  will-change: opacity;
  transition: opacity 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
  }
}

.top-images-list-item--active {
  opacity: 1;
  pointer-events: auto;

  img {
    @include g.mq() {
      object-position: center;
    }
  }
}
