@use "../global" as g;

/*!
foundation > base
------------------------------
*/
:root {
  --base-vw: 375;

  @include g.mq() {
    --base-vw: 1440;
  }
}

html {
  font-size: calc(100vw / var(--base-vw));
}

body {
  position: relative;
  font-size: 12rem;
  line-height: 1.2;
  letter-spacing: 0;
  color: var(--color-font-base);
  font-family: var(--font-family-base);
  font-weight: 400;
  background-color: var(--color-black);
  height: 100vh;

  @include g.mq() {
    font-size: 16rem;
  }
}
